  h1 {
    text-align: center;
  }
  
  .test {
    width: 200px;
    height: 200px;
    border: 2px solid black;
  }
  li {
    list-style-type: none;
  }
  .flex-container {
    display: flex;
    background-color: #f1f1f1;
  }
  
  .flex-container > div {
    background-color: DodgerBlue;
    color: white;
    text-align: center;
    flex-grow: 5;
  }
  .weather {
    text-align: center;
  }
  .titles {
    border-style: solid;
    border-color: rgb(56, 202, 168);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100px;
    text-align: center;
  }
  .titles h5 {
    padding: 1px;
    margin: 0px;
  }